body {
    background-color: #ffff99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    height: 100%;
    /*display: flex;
    flex-direction: column;*/
}

#graph-container {
    background-color: white;
    width: 100%;
    height: 600px;
    /*flex-grow: 1;*/
    border: 1px solid black;
    overflow: hidden;
}

#queries-select {
    border: 2px solid gray;
    padding: 10px;
}

.query-button-unselected {
    margin: 5px;
    background-color: lightblue;
}

.query-button-selected {
    background-color: greenyellow;
}